html,
body {
  max-width: 100%;
  margin: auto;
  height: 100%;
}

#root {
  background-color: #eaeaea;
  height: 100%;
}
/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */
@import url('https://fonts.googleapis.com/css?family=Baskervville|Gupter|Libre+Baskerville|Lora|Playfair+Display|Titillium+Web&display=swap');

/* fonts available */
/* font-family: 'Titillium Web', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'Gupter', serif;
font-family: 'Baskervville', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Josefin Sans', cursive; */

.pageDimension {
font-family: 'Gupter', serif;
}

.containerNav {
  /* display: inline-flex;
  flex-direction: row;
  border: 2px solid white;
  flex-wrap: wrap; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
  
}

.navCol1 {
  /* border: 2px solid blue; */
  display: inline-block;

}

.navCol2 {
  /* border: 2px solid red; */
  /* justify-content: flex-end; */
  display: flex
}

.logo {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  /* margin-left: 10px; */
  border: 4px solid white;
  display: flex;
  flex-wrap: nowrap;
  align-content:center;
  padding-right:10px;
  align-self: auto;
  white-space: nowrap;
}

.logoPadding {
  padding: 7px 5px 0px 5px;
}


.navColor {
  background-color: #2851A3;
  /* background-color: #3578E5; */
}

.navRow {
  flex-direction: row;
  justify-content: flex-end;
  display: inline-block;
  float: right;
}
.navButton {
  background-color: whitesmoke;
  /* white-space: nowrap; */
}

.btn.acceptRequestButton {
  background-color: #12cd3c; 
}

.btn.stopRequestButton {
  background-color: #ff0920;
  
}

.profileBackground {
  /* background-color: rgb(135, 103, 53); */
}

.capitalizeFont {
  text-transform: capitalize;
}
/* Rules for sizing the icon. */

.material-icons.md-icon-size { font-size: 30px; }
.material-icons.md-padding { padding: 7px 5px 0px 5px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* @media (min-width: 200px) and (max-width: 480px ) {

} */

@media (min-width: 1px) and (max-width: 800px ) {


.containerNav {
  /* display: inline-flex;
  flex-direction: row;
  border: 2px solid white;
  flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid white; */

}

.navCol1 {
  /* border: 2px solid rgb(255, 0, 0); */
  display: inline-block;
  /* margin-bottom: 15px; */
}

.navCol2 {
  /* border: 2px solid green; */
  justify-content: flex-end;
  display: flex;
}

  .logo {
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    /* margin-left: 10px; */
    border: none;
    display: flex;
    flex-wrap: nowrap;
    align-content:center;
    padding-right:10px;
    align-self: auto;
    white-space: nowrap;
  }
  .material-icons.md-icon-size { font-size: 50px; }
  .material-icons.md-padding { padding: 12px 2px 5px 5px; }
}
